@charset "utf-8";
/* CSS Document */
body{display: block; height:auto; margin:0px; font-size:11px;}
.main1 {display:block;  height:auto;}
.banner {width:100%;}
.banner img {display: block;  height: auto;  max-width: 100%; }
.navbar-brand img{display: block; height: auto; margin-left:30%;}
.main2 {display:block; height:200px; margin-top:20px;}
.sumain2 {display:block; padding:10px 10px 10px 10px;}
.cont {background:#efefef;}
.icn {display:block; width:60px; height:60px; float:left;}
.subfnt {color:#ffa200; font-weight:normal; font-size:14px; margin:0px;}
.sub { height:auto; line-height:20px; display:block; font-size:12px; padding:5px 10px 0px 10px;}
.media-heading {line-height:25px;}